<launch>
  <arg name="x_pos" default="-3.0"/>
  <arg name="y_pos" default="1.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="rviz" default="true"/>
  <arg name="lvAnal" default="false"/>

  <node name="color_cloud" pkg="colored_point_cloud_rat_slam_ros" type="colorCloud.py" >
    <param name="pc2_topic_in"          value="velodyne_points" />     
    <param name="image_topic_in"        value="camera/image/compressed" />
    <param name="camera_info_topic_in"  value="camera/camera_info" />
    <param name="pc2_topic_out"         value="rgb_cloud" />
    <param name="goal_frame"            value="odom" />
  </node>

  <node name="lv_builder" pkg="colored_point_cloud_rat_slam_ros" type="lvbuilder.py" >
    <param name="topic_in"              value="rgb_cloud" />
    <param name="topic_out"             value="current_scene_descripion" />
    <param name="topic_viz"             value="clustered_viz" />
    <param name="topic_viz_convex_hull" value="convex_hull_viz" />
    <param name="color_dimension_scale" value="0.001" />
  </node>

  <node name="lv" pkg="colored_point_cloud_rat_slam_ros" type="lv.py" >
    <param name="topic_in"              value="current_scene_descripion" />
    <param name="topic_out"             value="/LocalView/Template" />
    <param name="new_view_threshold"    value="0.514" />
  </node>

  <node if="$(arg lvAnal)" name="lvAnal" pkg="colored_point_cloud_rat_slam_ros" type="lvAnalyzer.py" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find colored_point_cloud_rat_slam_ros)/urdf/turtlebot3_waffle_custom.urdf.xacro" />
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description" />
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find colored_point_cloud_rat_slam_ros)/rviz/pc.rviz"/>
</launch>
